
body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}




.navbar {
	padding: 18px;
	height: 80px;
	font-size: 18px;
	border-bottom: 4px solid #fff59d;
	transition: all .7s ease;
	-webkit-transition: all .7s ease;
  	-moz-transition: all .7s ease;
  	-o-transition: all .7s ease;
  	-ms-transition: all .7s ease;
}

.barra {
	padding: 18px;
	background-color: rgba(0,0,0,0.5);
	border-bottom: 4px solid #ee6e73;
	height: 80px;
	font-size: 18px;
}

/**Manuel Díaz HomePage**/

.jumbotron {
	height: 100vh;
    width: 100%;
	background: url(../img/header.jpg);
	background-attachment: fixed;
	background-position: cover;
    background-size: cover;

}

.jumbotron h1 {
	color: #fff;
	text-transform: uppercase;
	margin-top: 300px;
}

.jumbotron p {
	letter-spacing: 3px;
	color: #fff;
}

.btn-cta {
	padding: 17px;
	margin-top: 20px;
	border-radius: 0px;
	text-transform: uppercase;

}

.owl-carousel .owl-item img {
    width: 50%;
}





/*CSS de Blog*/

.margin-blog {
	margin-top: 70px;
}

.divisory-line {
	border-right: solid 4px #a0aeaf;
	padding-right: 20px;
}

.article-spacing {
	margin-bottom: 20px;
}


.raya-footer{
    border-width: 4px;
    max-width: 30%;
}

.footer-creditos {
    background-color: gray;
    padding: 10px;
    letter-spacing: 5px;
    text-align: center;
    margin-top: 30px:
}






/*ISMAEL ----TIENDA Y DETALLE DE PRODUCTO*/


.carrusel{
	position: relative;
}

.img-carrusel{
	width: 100%;
}

.form-shop label{
	display: block;
	text-align: left;
}

.form-shop{
	background-color: rgba(255,255,255,0.7);
	text-align: center;
	bottom: 20px;
	padding: 20px;
	z-index: 29;
	position: absolute;
	width: 100%;
	margin-bottom: 0;
}

.form {
	font-size: 18px;
	width: 18%;
	margin-right: 2%;
}


.form-shop .form-inline .form-control-shop{
	width: 100%;
}




.section-heading-spacer {
	border-top: 4px solid #e7e7e7;
	width: 30px;
	float: left;
}

.btn-form-shop{
	border-radius: 0px;
	text-transform: uppercase;
}

.banner-shop{
	padding: 30px;
	background-color: rgba(0,0,0,0.25);
}


.p-descripcion{
	font-size: 12px;
	color: rgba(127, 140, 141,.9);
}

.precio{
	font-size: 26px;
	font-weight: 100;
}


.icon-cap-shops > *{
	color: gray;
    border-right: 1px solid #dddddd;
    margin-top: 7px;
    padding-right: 24px;
    padding-left: 24px;
    line-height: 24px;
    height: 22px;
    display: inline-block;
    font-size: 16px;
}

.icon-cap-shops :last-child{
	border-right: none;
}


.right{
	float: right;
}



/*MEDIAquerys*/


/*blog*/
@media(max-width: 767px) {
	/*media blog*/
	.divisory-line {
		border: none;
	}

	.img-space {
		margin-top: 20px;
	}
}

@media(min-width: 768px) and (max-width: 992px) {
	/*media blog*/
	.divisory-line {
		border-right: solid 2px #a0aeaf;
		padding-right: 20px;
		border: none;

	}

	.p-texto{
		font-size: 0.7em;
	}
		


@media(min-width: 992px) and (max-width: 1200px){
	
	 /*media blog*/

	 .img-space {
	 	margin-top: none;
	 }


}

